html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #0f172a;
}

.app {
  display: grid;
  grid-template-columns: 220px 1fr 320px;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  background: #111827;
  color: #e5e7eb;
  padding: 16px;
  border-right: 1px solid #1f2933;
  overflow-y: auto;
}

.sidebar.right {
  border-right: none;
  border-left: 1px solid #1f2933;
}

.var-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.var-item input {
  width: 80px;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #374151;
  background: #1f2937;
  color: white;
}

.workspace {
  display: flex;
  flex-direction: column;
  background: #f3f4f6;
}

.toolbar {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background: white;
  display: flex;
  gap: 8px;
}

.canvas {
  flex: 1;
  position: relative;
  overflow: hidden;

  /* сетка */
  background-image:
    linear-gradient(#e5e7eb 1px, transparent 1px),
    linear-gradient(90deg, #e5e7eb 1px, transparent 1px);
  background-size: 20px 20px;
}

.node {
  position: absolute;
}

.edges {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.formula {
  margin-top: 10px;
  padding: 10px;
  background: #1f2937;
  border-radius: 8px;
}

.graph {
  margin-top: 12px;
  height: 260px;
  padding: 6px;
  background: #1f2937;
  border-radius: 10px;
}